<body class='open-sans'>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand" href="/">IVY</a>
    <!-- button for small size screen -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/consult">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">ACCOUNT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id='mainContainer' class='container'>
    <div class="row justify-content-start">
      <div class='col'></div>
      <div class='col-12 col-md-10'>
        <div id='titleDiv' class='h1'><span id='studentName'><%- studentName %></span><span id='studentId' class='hidden'><%- studentId %></span> - <span id='title'>Academic Info</span></div>
        <div id='descriptionDiv' class='description'>Make sure to put in as much information as possible.</div>
        <div id="academicInfoDiv" class="form-group input-div">
          <div class="row">
            <div class="col-6">
              <label for="SATVerbal">SAT Verbal</label>
              <input name="SATVerbal" type="number" class="form-control" min="0" max="800" placeholder="0-800" id="SATVerbal" required value="<%- SATVerbal %>">
            </div>
            <div class="col-6">
              <label for="SATWriting">SAT Writing</label>
              <input name="SATWriting" type="number" class="form-control" min="0" max="800" placeholder="0-800" id="SATWriting" required value="<%- SATWriting %>">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="SATMath">SAT Math</label>
              <input name="SATMath" type="number" class="form-control" min="0" max="800" placeholder="0-800" id="SATMath" required value="<%- SATMath %>">
            </div>
            <div class="col-6">
              <label for="GPA">GPA</label>
              <input name="GPA" type="number" class="form-control" min="0.00" max="4.00" step="0.01" placeholder="0.00-4.00" id="GPA" required value="<%- GPA %>">
            </div>
          </div>
          <div class='button-group'>
            <button type="button" class="btn btn-primary btn-lg rightAlign" id="saveButton">SAVE</button>
            <button type="button" class="btn btn-transparent btn-lg rightAlign" id="cancelButton">CANCEL</button>
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
  </div>
</body>
