<body class='open-sans'>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand" href="/">IVY</a>
    <!-- button for small size screen -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/consult">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">ACCOUNT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id='mainContainer' class='container'>
    <div class="row justify-content-start">
      <div class='col'></div>
      <div class='col-12 col-md-10'>
        <div id='titleDiv' class='h1'>
          <span id='studentName'><%- studentName %></span><span id='studentId' class='hidden'><%- studentId %></span> - <span id='title'>Add Activity</span>: <span id='activityName'></span><%- activityName %> (<%- activityYear %>)<span id='activityId' class='hidden'><%- activityId %></span>
        </div>
        <div id='descriptionDiv' class='description'>Enter partication information about the activty of this student.</div>
        <div id="participationDiv" class="form-group input-div">
          <div class="row">
            <div class="col-6">
              <label for="position">Position</label>
              <select class="custom-select form-control" id="position">
                <option selected>Choose...</option>
                <%- activityPositions %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="hoursPerWeek">Hours Per Week</label>
              <input name="hoursPerWeek" type="number" class="form-control" min="1" max="60" placeholder="1-60" id="hoursPerWeek" required>
            </div>
            <div class="col-6">
              <label for="hoursPerYear">Hours Per Year</label>
              <input name="hoursPerYear" type="number" class="form-control" min="1" max="1023" placeholder="1-1023" id="hoursPerYear" required>
            </div>
          </div>
          <div class='button-group'>
            <button type="button" class="btn btn-primary btn-lg rightAlign" disabled id="nextToPortfolioImpactButton">NEXT</button>
            <button type="button" class="btn btn-transparent btn-lg rightAlign" id="cancelButton">CANCEL</button>
          </div>
        </div>
        <div id="portfolioImpactDiv" class="form-group input-div d-none">
          <div class="row">
            <div class="col-6">
              <label for="leadership">Leadership</label>
              <input name="leadership" type="number" class="form-control" min="0" max="10" placeholder="0-10" id="leadership" required>
            </div>
            <div class="col-6">
              <label for="communication">Communication</label>
              <input name="communication" type="number" class="form-control" min="0" max="10" placeholder="0-10" id="communication" required>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="creativity">Creativity</label>
              <input name="creativity" type="number" class="form-control" min="0" max="10" placeholder="0-10" id="creativity" required>
            </div>
            <div class="col-6">
              <label for="intelligence">Intelligence</label>
              <input name="intelligence" type="number" class="form-control" min="1" max="1023" placeholder="0-10" id="intelligence" required>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="selfMotivation">Self Motivation</label>
              <input name="selfMotivation" type="number" class="form-control" min="0" max="10" placeholder="0-10" id="selfMotivation" required>
            </div>
          </div>
          <div class='button-group'>
            <button type="button" class="btn btn-primary btn-lg rightAlign" disabled id="saveButton">SAVE</button>
            <button type="button" class="btn btn-transparent btn-lg rightAlign" id="backToParticipationButton">BACK</button>
          </div>
        </div>
      </div>
      <div class='col'></div>
    </div>
  </div>
</body>
